body{
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.footprint{
  width: 8%;
  margin-right: 10px;
}

/* Jumbotron */

.logo-text {
  font-family: Anton;
  font-size: 3rem;
}

/* Equation */
.equation{
  text-align: center;

}

.bearing-img {
  text-align: center;
  width: 70%;

}

.stick-figure {
  width: 70%;
}

.plus-symbol {

  margin: 50%;

}

.equals-sign{
  margin: 50%;
}

.boom-emoji {
  width: 100%;
}

/* The Team */
.the-team{
  background-color: #e9ecef;
  padding: 0;
  }
.team-data{
  padding: 0;
}
.team-img{
  width: 80%;
  text-align: center;
}

.team-description{
  margin-top: 10px;
}
/* Footer */
.foot-icons, .foot-p {
  text-align: center;
  font-size: 8px;
  margin: 10px;
}
.footer-icon{
  margin: 10px;
}

/* WIP - Construction */
.construction{
  text-align: center;
}

.WIP-text{
  font-family: Roboto;
}
